# FILL WITH YOU DATA

# SECURITY KEY
SECRET_KEY =
# SYSTEM CONFIG
PORT_SYS = 3000

# DATABASE CONFIG
DB =
USERNAME =
PASSWORD =
HOST =
PORT =
DIALECT =
TIMEZONE = America/Mexico_City


# SECURITY KEY
SECRET_KEY = andamio$Atlas.com.mx
# SYSTEM CONFIG
PORT_SYS = 3000

# DATABASE CONFIG
DB = atlas
USERNAME = super
PASSWORD = _o4x69Jx6
HOST = localhost
PORT = 3306
DIALECT = mariadb
TIMEZONE = America/Mexico_City

